.secao-amigos {
    margin-top: 40px;
    padding: 30px;
}

.secao-amigos h1 {
    font-weight: bold;
    margin-top: 30px;
}

.card-amigo {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 60px auto 25px;
}

.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #fdcf46;

    box-shadow: 0 1px 3px #0000001f,
        0 1px 2px #0000003d;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-front:hover {
    box-shadow: 0 14px 28px #00000040,
        0 10px 10px #00000038;
}

.card-front i {
    margin-top: 10px;
}

.card-links a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    font-size: 1.1em;
}

.card-links a:hover {
    color: #007592;
}

.card-links span:last-child {
    float: right;
}

.card-user img {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid #fcc521;
    transition: all 700ms ease-in;

    box-shadow: 0 3px 6px #00000029,
        0 3px 6px #0000003b;
}

.card-user h5 {
    font-size: 1.2em;
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #007592;
    font-weight: bold;
}

.card-user i {
    font-size: 0.9em;
    text-align: center;
    display: block;
    color: #fff;
}


.user-info {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 5px;
}

.user-info span {
    text-align: center;
    display: block;
    margin-top: 20px;
    color: #fff;
    flex: 1;
    font-size: 1em;
}

.user-info span b {
    font-size: 0.8em;
    display: block;
}
