/* CSS DA ESTRUTURA DO SITE */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow-x: hidden;
}

/* ELEMENTOS */

/* TÍTULOS */

h1,
h2,
h3,
h4,
h5 {
    color: #007592;
}

/* LOGO */
#quemindica {
    margin-top: 90px;
    width: 15%;
}

/* MENU VOLTAR PAR O TOPO */

.toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    background-color: #027592;

    box-shadow: 0 1px 3px #0000001f,
        0 1px 2px #0000003d;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.toTopBtn:hover {
    font-weight: bold;
    background-color: #FCDA73;
    color: #027592;
    box-shadow: 0 14px 28px #00000040,
        0 10px 10px #00000038;
}


/* ÁREA RESPONSIVA MENU VOLTAR PARA O TOPO*/


@media (max-width: 750px) {
    .toTopBtn {
        display: none;
    }
}
