.secao-faq {
    padding: 80px 0;
    background: #00415e;
}

.secao-faq h1 {
    font-weight: bold;
    color: #fff;
}

/* MENU TÓPICOS */


.menu-faq {
    margin-bottom: 15px;
}

.faq-nav {
    flex-direction: column;
    border-radius: 2px;
    margin: 0px;
    box-shadow: 0 19px 38px #0000004d,
        0 15px 12px #00000038;
}


.faq-nav .nav-link {
    position: relative;
    display: block;
    margin: 0;
    color: #fff;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #00657e;
    background-color: #027592;
}

.faq-nav .nav-link:hover {
    background-color: #005a70;
}

.faq-nav .nav-link.active {
    font-weight: bold;
    color: #fff;
    background-color: #005a70;
}

/* MENU PERGUNTAS E RESPOSTAS */

.tab-content {
    box-shadow: 0 14px 28px #00000040, 0 10px 10px #00000038;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /* border: 1px solid #027592; */
}


.tab-content .card {
    border: 1px solid #027592;
    border: 2px solid #027592;
}

.tab-content .card-header {
    padding: 15px 16px;
    border-radius: 0;
    background-color: #027592;
}

.tab-content .card-header h5 {
    margin: 0;
}

.tab-content .card-header h5 button {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    font-weight: 700;
    color: #fff;
    text-align: left;
}

.tab-content .card-header h5 button:hover,
.tab-content .card-header h5 button:focus,
.tab-content .card-header h5 button:active,
.tab-content .card-header h5 button:hover:active {
    text-decoration: none;
}

.tab-content .card-body p {
    color: #858585;
}
