/* FAQ */

.banner_faq {
    background-color: #E2E2E7;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.questions_box {
    height: 90vh;
    padding-bottom: 50px;
    overflow: auto;
}

.h3_title {
    padding: 50px 0;
    text-align: center;
    color: #007592;
    text-transform: uppercase;
}


#hashtag {
    margin-left: 20px;
    margin-top: 80px;
    width: 8%;
}

.question-1 {
    margin-top: 200px;
}

.question {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.question input,
.question .answer {
    display: none
}

.question label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%
}

.question input:checked~.answer {
    display: block
}
