header {
    background-color: #007592;
}


/* LOGO E TÍTULO QUEM INDICA */

.titulo-quemindica {
    color: #FCDA73;
    font-weight: bold;
}

.titulo-quemindica:hover {
    color: #FCDA73;
}


/* BOTÃO SUPORTE E LOGIN */

.botao-suporte img {
    width: 35px;
    padding: 5px;
    border-radius: 5px;
    background-color: #FCDA73;
}

.btn-suporte:hover {
    font-weight: bold;
    border: solid 1px #016983;
    background-color: #FCDA73;
}

.botao-novo {
    color: #fff;
    cursor: pointer;
    display: block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #007592;
    border: 1px solid #016983;
    letter-spacing: 1px;
    transition: all 150ms linear;
    box-shadow: 2px 2px 2px #00415e,
        4px 4px 4px #00415e;
}


.botao-novo:hover {
    background-color: #00415e;
    border: 1px solid #00415e;
    color: #fff;
    text-decoration: none;
    text-shadow: -1px -1px 0 #FCDA73;
    box-shadow: 1px 1px 2px #002b3f;
    transition: all 250ms linear;
}



/* AREA RESPONSIVA */


@media (max-width: 440px) {
    .titulo-quemindica {
        margin-left: -15px;
        font-size: 0.8em;
    }
}

@media (max-width: 390px) {
    .titulo-quemindica {
        margin-left: -15px;
        font-size: 0.6em;
    }
}
