/* PÁGINA LOGIN */

.form-signin {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

form {
    display: block;
}

.espaco {
    padding: 20px;
}
