@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

.modal-cover-section {
    padding: 10px;
    z-index: 9999;
}

.close-modal-cover {
    font-size: 1.3em;
    float: right;
    background: #ffffff;
    width: 50px;
    padding: 4px;
    color: #027592;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: bold;
}

.close-modal-cover:hover {
    color: #aaaaaa;
    background: #027592;
    border: none;
    outline: none;
}

/* TÍTULO FORMULÁRIO */

.modal-title-cover {
    font-size: 2em;
    font-weight: bold;
    color: #027592;
}


#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed #ffffffb3;
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

.input-upload {
    border-radius: 5px;
    background-color: #f3f3f3;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
}


/* BOTÃO */

.container-btn-modal-cover {
    padding-top: 20px;
}

.btn-cover-modal {
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    transition: all 0.4s;
    background: #027592;
    outline: none;
    border: none;
}

.btn-cover-modal:hover {
    background: #aaaaaa;
}

.btn-cover-modal:focus {
    outline: none;
}
