/* CSS MODAL - SUPORTE E LOGIN */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

.section-register {
    padding: 20px;
    z-index: 9999;
}

.section-register a {
    color: #027592;
}

.section-register a:hover {
    text-decoration: none;
    color: #666666;
}


.wrap-register-modal {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.close-modal-register {
    font-size: 1.3em;
    float: right;
    background: #fff;
    width: 50px;
    padding: 4px;
    color: #027592;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: bold;
}

.close-modal-register:hover {
    color: #aaaaaa;
    color: #fcda73;
    border: none;
    outline: none;
}

/* TÍTULO FORMULÁRIO */

.modal-title-register {
    font-size: 2em;
    font-weight: bold;
    color: #027592;
}

/* INPUTS */

.input-modal-register {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding: 0 30px 0 50px;
    display: block;
    width: 100%;
    background: #f3f3f3;
    font-size: 0.8em;
    line-height: 1.5;
    color: #666666;

    box-shadow: 0 1px 3px #0000001f,
        0 1px 2px #0000003d;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.input-modal-register:focus {
    outline: none;
    border: 1px solid #027592;
    color: #027592;
}

.input-modal-login::placeholder {
    color: #007592;
}

/* INPUT ICONE */

.modal-register-icone {
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    pointer-events: none;
    color: #aaaaaa;
    font-size: 15px;
    transition: all 0.4s;
}

.input-modal-register:focus+.focus-input-modal-register+.modal-register-icone {
    color: #027592;
    padding-left: 22px;
}

/* * TERMOS CHECK RADIO */

.terms-section input[type='radio'] {
    position: relative;
    cursor: pointer;

}

.terms-section input[type='radio']:after {
    content: "";
    vertical-align: middle;
    text-align: center;
    position: absolute;
    cursor: pointer;
    height: 14px;
    width: 14px;
    font-size: 0.5em;
    background-color: #f5f5f5;
    border: 1px solid #007592;
    border-radius: 50%;
}

.terms-section input[type='radio']:hover:after,
.terms-section input[type='radio']:checked:hover:after {
    content: '\2714';
    color: #FCDA73;
    font-weight: bold;
    background-color: #006983;
}

.terms-section input[type='radio']:checked:after {
    content: '\2714';
    font-weight: bold;
    color: #FCDA73;
    font-weight: bold;
    background-color: #006983;
}

/* BOTÃO */


.modal-register-btn {
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    transition: all 0.4s;
    background: #027592;
    color: #fff;
    outline: none;
    border: none;
}

.modal-register-btn:hover {
    background: #fcda73;
    color: #027592;
}
