.services-bg {
    background: #00415e;
    /* height: 100vh; */
}

.service-page-section {
    align-items: center;
    margin: 0 auto;
    background: #00415e;
    margin-top: 40px;
    padding: 50px 40px;
}

.servico-page-div {
    margin: 0 auto;
}

/* ÁREA SERVIÇOS */

.service-page-section h1 {
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
}

.card-service {
    margin-top: 20px;
}

.card-service-page {
    background-color: #FCDA73;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 3px #0000001f,
        0 1px 2px #0000003d;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-service-page:hover {
    box-shadow: 0 14px 28px #00000040,
        0 10px 10px rgba(0, 0, 0, 0.22);
}


/* INFOS DO CARD */

.card-service-page img {
    width: 425px;
    height: 350px;
}


.raintg-service-page {
    margin-top: 5px;
    color: #00415e;
    font-weight: bold;
    font-size: 1.4em;
}

.service-point-page {
    color: #00415e;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-title-page {
    font-weight: bold;
}

.all-text {
    padding: 15px;
}

.service-text-page {
    color: #6b6b6b;
    font-weight: bold;
    font-size: 1em;
}

.text-service a {
    color: #00415e;
    font-weight: bold;
}

.text-service a:hover {
    color: #fff;
    text-decoration: none;
}

.text-service a:focus {
    border: none;
}

/* BOTÃO MENSAGEM */

.card-service-page button {
    margin-top: 30px;
    color: #006983;
    font-weight: bold;
    background-color: #fff;
}

.card-service-page button:hover {
    color: #ffd559;
    background-color: #007592;
}
