.div1-quemsomos {
    width: 100%;
    height: auto;
    background-color: #01a3cc;
    padding: 20px;
}

.div1-quemsomos h1 {
    margin-top: 100px;
    font-weight: bold;
    padding: 20px;
}

.div1-quemsomos h1,
p {
    color: #fff;
}

.imagem-time-sobre {
    background-color: #01a3cc;
}

/* AVATARS */

.secao-avatar {
    background-color: #e5e5e5;
}

.secao-avatar h2 {
    padding-top: 20px;
}

.avatars {
    padding: 20px;
    justify-content: center;
}

.avatar-time {
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.avatar-time:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.251), 0 10px 10px #00000038;
}

.social-link {
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}
