@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

/* ELEMENTOS */

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

button {
    outline: none !important;
    border: none;
}

/* BOX FORMULÁRIO */

.container-formulario-suporte {
    width: 100%;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #e5e5e5;

}

.wrap-formulario {
    width: 1200px;
    margin-top: 30px;
    padding: 50px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0 1px 3px #0000001f,
        0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
}

.wrap-formulario:hover {
    box-shadow: 0 14px 28px #00000040,
        0 10px 10px #00000038;
}

/* BANNER FORMULÁRIO */

.banner-suporte {
    width: 400px;
}

.banner-suporte img {
    max-width: 100%;
}

/* FORMULÁRIO */

.formulario {
    width: 400px;
}

/* TÍTULO FORMULÁRIO */

.titulo {
    display: block;
    font-size: 2em;
    color: #027592;
    text-align: center;
    padding-bottom: 36px;
}

/* INPUTS */

input.area-input {
    height: 50px;
    border-radius: 5px;
    padding: 0 30px 0 50px;
}

input.area-input[name="email"] {
    padding: 0 30px 0 54px;
}

textarea.area-input {
    min-height: 150px;
    border-radius: 5px;
    padding: 14px 30px;
    resize: none;
}

.wrap-area-input {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.area-input {
    display: block;
    width: 100%;
    background: #f3f3f3;
    font-size: 0.8em;
    line-height: 1.5;
    color: #666666;
}

/* FOCO INPUT */

.icone-input {
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    pointer-events: none;
    color: #aaaaaa;
    font-size: 15px;
    transition: all 0.4s;
}

.area-input:focus+.focus-area-input+.icone-input {
    color: #027592;
    padding-left: 22px;
}

/* BOTÃO */

.container-botao {
    padding-top: 20px;
}

.btn-formulario {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: #027592;
    font-size: 0.8em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
}

.btn-formulario:hover {
    background: #333333;
}

/* ÁREA RESPONSIVA */

@media (max-width: 1400px) {
    .banner-suporte {
        width: 50%;
        display: flex;
        margin-left: -50px;
    }

    .formulario {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    .wrap-formulario {
        padding: 110px 80px 157px 90px;
    }

    .banner-suporte {
        width: 49%;
        height: 400px;
    }

    .formulario {
        width: 55%;
    }
}

@media (max-width: 992px) {
    .wrap-formulario {
        padding: 110px 80px 157px 90px;
    }

    .banner-suporte {
        width: 49%;
        height: 400px;
    }

    .formulario {
        width: 55%;
    }
}

@media (max-width: 850px) {
    .container-formulario-suporte {
        width: 100%;
        margin-top: 20px;
        padding: 60px;
    }

    .wrap-formulario {
        padding: 30px;
    }

    .banner-suporte {
        display: none;
    }

    .formulario {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container-formulario-suporte {
        width: 100%;
        margin-top: 20px;
        padding: 50px;
    }

    .wrap-formulario {
        padding: 10px;
    }
}
